.messages {
  position: relative;
  padding: 0 30px;
  .center {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 800px;

    table {
      margin-top: 40px;
      margin-bottom: 40px;

      td:nth-child(2) {
        cursor: pointer;
      }
      td:nth-child(4) {
        padding-left: 5px;
      }
    }
  }
}
