.item {
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #fff;
  list-style: none;
  font-size: 15px;
  &.active {
    font-weight: 700;
    border-left: 4px solid #fff;
  }

  a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 7px;
    transform: translateX(0);
    transition: transform 0.3s;

    &:hover {
      transform: translateX(15px);
    }
  }

  svg {
    width: 19px;
  }
}
