.button {
  all: unset;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 0;
  background-color: #ec746f;
  color: #fff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}
