.multistep {
  .steps {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .container {
    overflow: hidden;
    .main {
      position: relative;
      transition: transform 0.3s;
      height: 500px;
      & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &:nth-child(2) {
          left: 100%;
        }
        &:nth-child(3) {
          left: 200%;
        }
      }

      .students,
      .time,
      .faculty {
        button {
          margin-top: 40px;
        }
      }

      .time {
        p {
          margin-bottom: 20px;
          margin-top: 15px;
        }
        input {
          all: unset;
          display: flex;
          align-items: center;
          padding: 3px 10px;
          border: 1px solid rgba($color: #000000, $alpha: 0.47);
          border-radius: 6px;
        }
      }

      .faculty {
        p {
          margin-bottom: 20px;
          margin-top: 15px;
        }
        select {
          all: unset;
          cursor: pointer;
          display: block;
          width: max-content;
          padding: 8px 10px;
          border: 1px solid rgba($color: #000000, $alpha: 0.47);
          border-radius: 6px;
          width: 400px;
        }
      }
    }
  }
}
