.faculties {
  position: relative;
  padding: 0 30px;
  .center {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 700px;

    table {
      margin-top: 35px;
      margin-bottom: 40px;
    }
  }
}
