.success {
  padding: 15px;
  padding-left: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-left: 3px solid #7591c2;
  list-style-type: none;
  margin-top: 30px;
  position: absolute;
  top: 50px;
  right: 80px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
