.step {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 20px;

  .tab {
    --size: 27px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    color: #fff;
    background-color: #b8b2b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  .text {
    color: rgba($color: #000000, $alpha: 0.5);
  }

  &.active {
    .tab {
      background-color: #597ab6;
    }

    .text {
      color: #000;
    }
  }
}
