.input {
  display: none;

  &:checked + .label {
    background-color: #2b73f3;
    &::before {
      content: url("../../assets/check.svg");
    }
  }
}

.label {
  display: block;
  position: relative;
  --size: 20px;
  width: var(--size);
  height: var(--size);
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    width: 100%;
  }
}
