.ul {
  padding-left: 80px;
  li {
    --width: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 9px;
    &::before {
      content: "";
      display: inline-block;
      background-image: url(../../assets/ListStyle.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: var(--width);
      height: var(--width);
    }
  }
}
