.li {
  display: flex;
  align-items: center;
  padding: 25px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-left: 3px solid #7591c2;
  list-style-type: none;
}
